#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.main-menu {
  position: absolute; /* Force la position par dessus le reste */
  top: 1rem;
  left: 1rem;
  z-index: 1000; /* S'assure qu'il est au-dessus du logo */
  font-family: "Roboto Condensed", sans-serif;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Menu horizontal */
  gap: 1.5rem;   /* Espace entre les éléments */
}

.main-menu li {
  cursor: pointer;
  color: #a18aba;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.main-menu li:hover {
  color: #03d5ff; /* Bleu cyan au survol */
  text-decoration: underline;
}
